.bguest__standardPricing{
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 0.5px solid var(--color-grey);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 20px;
    background-color: white;
}

.bguest__standardPricing h2{
    font-family: "Josephine";
    font-size: 22px;
}

.bguest__standardPricing h3{
    font-family: "Poppins";
    font-size: 16px;
    color: var(--color-grey);
}

.bguest__standardPricing-price{
    margin-top: 1.5rem;
}

.bguest__standardPricing-price p{
    font-family: "Poppins";
    font-size: 40px;
    font-weight: bold;
}

.bguest__standardPricing-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.bguest__standardPricing-button-tablet{
    display: none;
}

.bguest__standardPricing-features{
    margin-top: 1.5rem;
}

.bguest__standardPricing-features h1{
    font-size: 18px;
}

.bguest__standardPricing-features .feature{
    margin-top: 8px;
}

/* Small Laptop Media */
@media only screen and (max-width: 1024px) and (min-width: 768px)   {
    .bguest__standardPricing{
        width: 30vw;
    }
}

/* Tablet Media */
@media only screen and (max-width: 768px) and (min-width: 600px)   {
    .bguest__standardPricing{
        width: 30vw;
    }

    .bguest__standardPricing-button{
        display: none;
    }

    .bguest__standardPricing-button-tablet{
        display: block;
        padding-top: 1rem;
    }

    .bguest__standardPricing h2{
        font-size: 20px;
    }
    
    .bguest__standardPricing h3{
        font-size: 14px;
    }

    .bguest__standardPricing-price p{
        font-size: 34px;
    }

    .bguest__standardPricing-features h1{
        font-size: 14px;
    }
}

/* Mobile Media */
@media only screen and (max-width: 599px){
    .bguest__standardPricing{
        width: 80vw;
    }

    .bguest__standardPricing-button{
        display: none;
    }

    .bguest__standardPricing-button-tablet{
        display: block;
        padding-top: 1rem;
    }

    .bguest__standardPricing h2{
        font-size: 20px;
    }
    
    .bguest__standardPricing h3{
        font-size: 14px;
    }

    .bguest__standardPricing-price p{
        font-size: 34px;
    }

    .bguest__standardPricing-features h1{
        font-size: 14px;
    }
}