.bGuest__demo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.bGuest__demo-subTitle h1{
    text-align: center;
    font-size: 18px;
}

