.bguest__addGuestCSV{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 5rem;
    background-color: var(--color-transparent);
    overflow: hidden;
    z-index: 2000;
}

.bguest__addGuestCSV-body{
    width: 50vw;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.bguest__addGuestCSV-close-button{
    display: flex;
    align-self: flex-end;
    cursor: pointer;
    color: var(--color-brand);
    font-size: 46px;
    z-index: 2001;
    margin: 1rem;
}

.bguest__addGuestCSV-close-button:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    color: var(--color-brand-dark);
}

.bguest__addGuestCSV-body-upload{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid var(--color-bg-dark);
    border-radius: 12px;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.bguest__addGuestCSV-body-upload-browse{
    background-color: var(--color-brand-light);
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}