.bguest__title h1{
    font-family: "Josephine";
    font-size: 4em;
    font-weight: bold;
    color: var(--color-black);
   
}
.bguest__title .highlight {
    color: var(--color-tagline);
  }

  /* Tablet Media */
@media only screen and (max-width: 992px) and (min-width: 768px)  {
    .bguest__title h1{
        font-size: 3.5em;
    }
}